<br/>
<button (click)="downloadCSV()" class="btn btn-outline-primary float-right">Download As CSV</button>

<hr />
<br />
<div class="container">
  <div class="form-group">
    <input type="text" placeholder="enter to search"
           [(ngModel)]="search" class="form-control" />
  </div>
  <br />
  <ul class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </ul>
  <div class="row">
    <div *ngFor="let story of stories|orderBy:'SSId':true|filter:search| paginate: { itemsPerPage: 5, currentPage: p } " class="card border-secondary mt-4 " style="max-width: 60rem; margin-left:20px">
      <div class="card-header bg-primary"><b>{{story.ssTitle}}</b></div>
      <div class="card-body">
        <p class="card-text">{{story.ssDescription}}</p>
        <!--<button class="btn-primary" (click)="like(story)">Like {{story.like}}</button>-->
      </div>
    </div>
  </div>
</div>
