<app-header></app-header>
<div class="container" style="min-height:400px;font-size:18px!important">
  <router-outlet>
    <ngx-loading-bar [color]="'white'"></ngx-loading-bar>
  </router-outlet>
</div>
<app-footer></app-footer>
